body {
	font-family: Arial;
}

h1, h2, h3 {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	padding: 15px;
}

.flex-item {
	flex: 1;
}

/* color points by species */

.setosa {
	fill: mediumseagreen;
	opacity: 40%;
}

.versicolor {
	fill: lightcoral;
	opacity: 40%;
}

.virginica {
	fill: cornflowerblue;
	opacity: 40%;
}

/* brush selecting */
.selected {
	stroke: orange;
	stroke-width: 1.5;
	opacity: 100% !important;
}